.empreendedores {
    background-color: $color-secondary;
}
.features {
}
.story{
    &__pictures {
        background-color: $color-primary;
    }
    &__content {
        background-color: $color-grey-light-1;
    }
}
.projetos{}
.gallery {
    background-color: $color-grey-light-1;
}